# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Hatch / pip
.hatch/
*.whl

# Testing
.pytest_cache/
.coverage
htmlcov/

# mkdocs
site/
.cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*~
